input{
    margin-top: 20px;
    border-color: black !important;
    border-radius: 5px;
    background-color: lightcoral;

}
p{
    font-size: 18px;
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;

}
::placeholder{
    color: black;
    font-family: 'Nunito', sans-serif;
}